<div class="container">
  <table class="table">
    <thead>
      <tr>
        <% @rates.each do |rate| %>
          <th><%= rate[0].upcase %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <tr>
      <% @rates.each do |rate| %>
        <td>$<%= rate[1] %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<%= javascript_pack_tag 'chart' %>
